html, body {
    margin: 0;
    padding: 0;
  }

.container {
    height: 940px;
}

.header_publico {
    height: 30px;
    
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #345593;
    border-bottom: 3px solid orange;
}

.navbar {
    list-style: none;
    color: white;
    text-align: center;
    }

li {
    display: inline-block;
    width: 200px;
    
}

main {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    height: 100%;
}

.main-nav {
    padding: 30px;
    background-color: white;
    width: 70%;
    justify-content: center;
}

